{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Абоненты</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Номер договора</th>
            <th scope="col">Имя</th>
            <th scope="col">Телефон</th>
            <th scope="col">Тип</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата редактирования</th>
          </tr>
        </thead>
        <tbody>
            {% for abonent in abonents %}
                <tr>
                    <td><a href="{{ abonent.get_absolute_url }}">{{ abonent.contract }}</a></td>
                    <td><a href="{{ abonent.get_absolute_url }}">{{ abonent.name }}</a></td>
                    <td>{{ abonent.phone }}</td>
                    <td>{{ abonent.type }}</td>
                    <td>{{ abonent.object_status }}</td>
                    <td>{{ abonent.created_date }}</td>
                    <td>{{ abonent.disable_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

      <button type="button" class="w-100 btn btn-secondary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить абонента
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Добавить абонента</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
              <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
              </form>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
          </div>
        </div>
      </div>
  
  
      
{% endblock %}