{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Абоненты</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Номер договора</th>
            <th scope="col">Имя</th>
            <th scope="col">Телефон</th>
            <th scope="col">Тип</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата редактирования</th>
            <th scope="col">Дата отключения</th>
          </tr>
        </thead>
        <tbody>
            {% for abonent in abonents %}
                <tr>
                    <td><a href="{{ abonent.get_absolute_url }}">{{ abonent.contract }}</a></td>
                    <td>{{ abonent.name }}</td>
                    <td>{{ abonent.phone }}</td>
                    <td>{{ abonent.type }}</td>
                    <td>{{ abonent.object_status }}</td>
                    <td>{{ abonent.created_date }}</td>
                    <td>{{ abonent.change_date }}</td>
                    <td>{{ abonent.disable_date }}</td>
                </tr>
            {% endfor %}
              <form action=".">
                <tr class="form-table-search-tr">
                  <td><input name="contract" {% if contract %}value="{{contract}}"{% endif %} class="form-control form-table-search-input"></input></td>
                  <td><input name="name" {% if name %}value="{{name}}"{% endif %} class="form-control form-table-search-input"></input></td>
                  <td><input name="phone" {% if phone %}value="{{phone}}"{% endif %} class="form-control form-table-search-input"></input></td>
                  <td>
                    <select name="type" class="form-control form-table-search-input">
                      <option value="">-------------</option>
                      {% for type in abonent_types %}
                        <option value="{{type.id}}" {% if select_type == type.id %}selected{% endif %}>{{type.name}}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td>
                    <select name="object_status" class="form-control form-table-search-input">
                      <option value="">-------------</option>
                      {% for object_status in object_statuses %}
                        <option value="{{object_status.id}}" {% if select_object_status == object_status.id %}selected{% endif %}>{{object_status.name}}</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td><input type="date" {% if created_date %}value="{{created_date}}"{% endif %} name="created_date" class="form-control form-table-search-input"></input></td>
                  <td><input type="date" {% if change_date %}value="{{change_date}}"{% endif %} name="change_date" class="form-control form-table-search-input"></input></td>
                  <td><input type="date" {% if disable_date %}value="{{disable_date}}"{% endif %} name="disable_date" class="form-control form-table-search-input"></input></td>
                </tr>
                <tr>
                  <td colspan="8"><button class="w-100 btn btn-outline-secondary btn-sm" type="submit">Поиск</button></td>
                </tr>
              </form>
          
        </tbody>
      </table>

      {% if abonents_pages > 1 %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if abonents.has_previous %}
                        <li class="page-item">
                            <a class="page-link page-number" href="{% url 'abonent-list' %}?contract={{contract}}&name={{name}}&phone={{phone}}&type={{select_type}}&object_status={{select_object_status}}&created_date={{created_date}}&disable_date={{disable_date}}&change_date={{change_date}}&page={{abonents.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Предыдущая</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if abonents.has_previous %}
                        <li class="page-item"><a class="page-link page-number" href="{% url 'abonent-list' %}?contract={{contract}}&name={{name}}&phone={{phone}}&type={{select_type}}&object_status={{select_object_status}}&created_date={{created_date}}&disable_date={{disable_date}}&change_date={{change_date}}&page={{abonents.previous_page_number}}">{{abonents.previous_page_number}}</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link active-page-number page-number" href="{% url 'abonent-list' %}?contract={{contract}}&name={{name}}&phone={{phone}}&type={{select_type}}&object_status={{select_object_status}}&created_date={{created_date}}&disable_date={{disable_date}}&change_date={{change_date}}&page={{abonents.number}}">{{abonents.number}}</a></li>
                    {% if abonents.has_next %}
                        <li class="page-item"><a class="page-link page-number" href="{% url 'abonent-list' %}?contract={{contract}}&name={{name}}&phone={{phone}}&type={{select_type}}&object_status={{select_object_status}}&created_date={{created_date}}&disable_date={{disable_date}}&change_date={{change_date}}&page={{abonents.next_page_number}}">{{abonents.next_page_number}}</a></li>
                    {% endif %}
                    {% if abonents.has_next %}
                        <li class="page-item">
                            <a class="page-link page-number" href="{% url 'abonent-list' %}?contract={{contract}}&name={{name}}&phone={{phone}}&type={{select_type}}&object_status={{select_object_status}}&created_date={{created_date}}&disable_date={{disable_date}}&change_date={{change_date}}&page={{abonents.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Следующая</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

      <button type="button" class="w-100 btn btn-secondary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить абонента
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Добавить абонента</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" action=".">
              <div class="modal-body">
                
                  {% csrf_token %}
                  {{ form|crispy }}
                
              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <a href="{% url 'services-page' %}"><button class="home-btn-otchet btn btn-secondary btn-lg active w-100 mt-5" role="button" aria-pressed="true">Назад к сервисам</button></a>
{% endblock %}