{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Абонент {{ object.name }}</h2>
    <form method="post">{% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Обновить</button>
        <a href="{% url 'abonent-list'%}" role="button" class="btn btn-secondary">К списку абонентов</a>
      </div>
    </form>
    <script>
      
    const disableDateField = document.getElementById("id_disable_date");
    
    if (disableDateField.value) {
      let v = disableDateField.value.split('.')
      disableDateField.value = `${v[2]}-${v[1]}-${v[0]}`
    }
    disableDateField.type = 'date'
    </script>
{% endblock %}