{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} <form action="." method="get">
  <div class="input-group mb-3">
    <input id="query" type="text" class="form-control" placeholder="Поиск по атрибутам" aria-label="search" aria-describedby="basic-addon2" name="query" {% if query %}value="{{ query }}"{% endif %}>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Поиск</button>
    </div>
  </div>
</form> {% endcomment %}

    <h2>Оборудование</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Тип</th>
            <th scope="col">Здание</th>
            <th scope="col">IP</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата изменения</th>
            <th scope="col">Родительское устройство</th>
            <th scope="col">Населенный пункт</th>
          </tr>
        </thead>
        <tbody>
            {% for node in nodes %}
                <tr>
                  <td><a href="{{ node.get_absolute_url }}">{{ node.name.name }}</a></td>
                    <td>{{ node.type }}</td>
                    <td>{{ node.building }}</td>
                    <td>{{ node.ip_address }}</td>
                    <td>{{ node.status }}</td>
                    <td>{{ node.created_date }}</td>
                    <td>{{ node.change_date }}</td>
                    <td>
                      {% if node.parent %}
                        <a href="{{ node.parent.get_absolute_url }}">{{ node.parent.ip_address }}</a>
                      {% endif %}
                    </td>
                    <td>{{ node.building.region }}</td>
                </tr>
            {% endfor %}
            <form action=".">
              <tr class="form-table-search-tr">
                <td>
                  <select name="name" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for name in node_names %}
                      <option value="{{name.id}}" {% if select_name == name.id %}selected{% endif %}>{{name.name}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select name="type" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for type in node_types %}
                      <option value="{{type.id}}" {% if select_type == type.id %}selected{% endif %}>{{type.name}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select name="building" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for building in buildings %}
                      <option value="{{building.id}}" {% if select_building == building.id %}selected{% endif %}>{{building}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td><input name="ip_address" {% if ip_address %}value="{{ip_address}}"{% endif %} class="form-control form-table-search-input"></input></td>
                <td>
                  <select name="object_status" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for object_status in object_statuses %}
                      <option value="{{object_status.id}}" {% if select_object_status == object_status.id %}selected{% endif %}>{{object_status.name}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td><input type="date" {% if created_date %}value="{{created_date}}"{% endif %} name="created_date" class="form-control form-table-search-input"></input></td>
                <td><input type="date" {% if change_date %}value="{{change_date}}"{% endif %} name="change_date" class="form-control form-table-search-input"></input></td>
                <td>
                  <select name="parent_node" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for node in parent_nodes %}
                      <option value="{{node.id}}" {% if parent_node == node.id %}selected{% endif %}>{{node.ip_address}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select name="region" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for region in regions %}
                      <option value="{{region.id}}" {% if select_region == region.id %}selected{% endif %}>{{region}}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="9"><button class="w-100 btn btn-outline-secondary btn-sm" type="submit">Поиск</button></td>
              </tr>
            </form>
        </tbody>
      </table>

      {% if nodes_pages > 1 %}
          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                  {% if nodes.has_previous %}
                      <li class="page-item">
                          <a class="page-link page-number" href="{% url 'node-list' %}?type={{select_type}}&name={{select_name}}&building={{select_building}}&region={{select_region}}&parent_node={{parent_node}}&created_date={{created_date}}&change_date={{change_date}}&ip_address={{ip_address}}&object_status={{select_object_status}}&page={{nodes.previous_page_number}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Предыдущая</span>
                          </a>
                      </li>
                  {% endif %}
                  {% if nodes.has_previous %}
                      <li class="page-item"><a class="page-link page-number" href="{% url 'node-list' %}?type={{select_type}}&name={{select_name}}&building={{select_building}}&region={{select_region}}&parent_node={{parent_node}}&created_date={{created_date}}&change_date={{change_date}}&ip_address={{ip_address}}&object_status={{select_object_status}}&page={{nodes.previous_page_number}}">{{nodes.previous_page_number}}</a></li>
                  {% endif %}
                  <li class="page-item"><a class="page-link active-page-number page-number" href="{% url 'node-list' %}?type={{select_type}}&name={{select_name}}&building={{select_building}}&region={{select_region}}&parent_node={{parent_node}}&created_date={{created_date}}&change_date={{change_date}}&ip_address={{ip_address}}&object_status={{select_object_status}}&page={{nodes.number}}">{{nodes.number}}</a></li>
                  {% if nodes.has_next %}
                      <li class="page-item"><a class="page-link page-number" href="{% url 'node-list' %}?type={{select_type}}&name={{select_name}}&building={{select_building}}&region={{select_region}}&parent_node={{parent_node}}&created_date={{created_date}}&change_date={{change_date}}&ip_address={{ip_address}}&object_status={{select_object_status}}&page={{nodes.next_page_number}}">{{nodes.next_page_number}}</a></li>
                  {% endif %}
                  {% if nodes.has_next %}
                      <li class="page-item">
                          <a class="page-link page-number" href="{% url 'node-list' %}?type={{select_type}}&name={{select_name}}&building={{select_building}}&region={{select_region}}&parent_node={{parent_node}}&created_date={{created_date}}&change_date={{change_date}}&ip_address={{ip_address}}&object_status={{select_object_status}}&page={{nodes.next_page_number}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Следующая</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </nav>
      {% endif %}


      <button type="button" class="w-100 btn btn-secondary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить оборудование
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Добавить оборудование</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" action=".">
              <div class="modal-body">
                
                  {% csrf_token %}
                  {{ form|crispy }}
              
              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% include 'nodes/node_name_js.html' %}
      <a href="{% url 'net_infrustructure' %}"><button class="home-btn-otchet btn btn-secondary btn-lg active w-100 mt-5" role="button" aria-pressed="true">Назад к сетевой инфраструктуре</button></a>
{% endblock %}