{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Оборудование {{ object.ip_address }}</h2>
    <form method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}
      {% include 'nodes/parent_node_name_list.html' %}
      <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-primary">Обновить</button>
        <a href="{% url 'node-list'%}" role="button" class="btn btn-secondary">К списку оборудования</a>
      </div>
    </form>
    {% include 'nodes/node_name_js.html' %}
    {% include 'nodes/region_js.html' %}
    {% include 'nodes/parent_node_name_js.html' %}

{% endblock %}