{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex justify-content-between mt-2">
      <h2>Оборудование {{ object.ip_address }}</h2>
      {% if object.connectionunit_set.exists %}
        <a class="btn btn-outline-secondary" href="{% url 'connection-list' %}?ip_address={{ object.ip_address }}" role="button">Перейти к списку интерфейсов</a>
      {% else %}
        <button type="button" class="btn btn-outline-secondary" id="modal-btn" data-bs-toggle="modal" data-bs-target="#createConnectionsModal">Создать интерфейсы</button>
        <div class="modal fade" id="createConnectionsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создать интерфейсы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="modalCreateConnectionUnitBody">
                {% comment %} Здесь создается динамически {% endcomment %}
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                  <button type="submit" class="btn btn-primary" id="modalCreateConnectionUnitCreateBtn">Создать</button>
                </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <form method="post" action="." class="mb-5">
      {% csrf_token %}
      {{ form|crispy }}
      {% if object.connectionunit_set.exists %}
        <div class="mb-3" id="div_id_self_connectionunits">
          <label for="id_self_connectionunits" class="form-label">Интерфейсы для подключения к родительскому устройству</label>
          <select name="self_connectionunits" id="id_self_connectionunits" class="select form-select{% if form.self_connectionunit.errors %} is-invalid{%endif%}">
            <option>---------</option>
            {% for i in connection_units %}
              {% if i.node_id == object.id %}
                <option value="{{ i.id }}"
                {% if i.parent_connection %}selected{% endif %}
                >{{ i.connection_name }} № {{ i.number }}</option>
              {% endif %}
            {% endfor %}
          </select>
          {% if form.self_connectionunit.errors %}
            {% for error in form.self_connectionunit.errors %}
              <p class="invalid-feedback"><strong>{{ error|escape }}</strong></p>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      {% include 'nodes/parent_node_name_list.html' %}
      {% if object.connectionunit_set.exists %}
        <div class="my-3" id="div_id_parent_node_connectionunits">
          <label for="id_parent_node_connectionunits" class="form-label">Интерфейсы родительского устройства</label>
          <select name="parent_node_connectionunits" id="id_parent_node_connectionunits" class="select form-select {% if form.parent_node_connectionunit.errors %} is-invalid{%endif%}">
            <option>---------</option>
          </select>
          {% if form.parent_node_connectionunit.errors %}
            {% for error in form.parent_node_connectionunit.errors %}
              <p class="invalid-feedback"><strong>{{ error|escape }}</strong></p>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-primary">Обновить</button>
        <a href="{% url 'node-list' %}" role="button" class="btn btn-secondary">К списку оборудования</a>
      </div>
    </form>
    {% include 'nodes/node_name_js.html' %}
    {% include 'nodes/region_js.html' %}
    {% include 'nodes/parent_node_name_js.html' %}
    {% if object.connectionunit_set.exists %}
      {% include 'nodes/connection_units_js.html' %}
    {% else %}
      {% include 'nodes/create_connection_units_js.html' %}
    {% endif %}

{% endblock %}