{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="." method="get">
  <div class="input-group mb-3">
    <input id="query" type="text" class="form-control" placeholder="Поиск по атрибутам" aria-label="search" aria-describedby="basic-addon2" name="query" {% if query %}value="{{ query }}"{% endif %}>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Поиск</button>
    </div>
  </div>
</form>

    <h2>Интерфейсы</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Тип интерфейса</th>
            <th scope="col">Номер</th>
            <th scope="col">Устройство</th>
            <th scope="col">Пропускная способность</th>
            <th scope="col">Статус</th>
            <th scope="col">Услуга</th>
          </tr>
        </thead>
        <tbody>
            {% for connection in connections %}
                <tr>
                  <td>{{ connection.type.name }}</td>

                  <td><a href="{{ connection.get_absolute_url }}">{{ connection.number }}</a></td>
                  <td><a href="{{ connection.node.get_absolute_url }}">{{ connection.node.ip_address }}</a></td>
                    <td>{{ connection.rate }}</td>
                    <td>{{ connection.status }}</td>
                  <td><a href="{{ connection.service.get_absolute_url }}">{{ connection.service }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      <button type="button" class="w-100 btn btn-secondary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить интерфейс
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Добавить интерфейс</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
              <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
              </form>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
          </div>
        </div>
      </div>


{% endblock %}