{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} <form action="." method="get">
  <div class="input-group mb-3">
    <input id="query" type="text" class="form-control" placeholder="Поиск по атрибутам" aria-label="search" aria-describedby="basic-addon2" name="query" {% if query %}value="{{ query }}"{% endif %}>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Поиск</button>
    </div>
  </div>
</form> {% endcomment %}
    <div class="d-flex justify-content-between align-items-center">
      <h2>Интерфейсы</h2>
      <a href="{% url 'net_infrustructure' %}"><button class="btn btn-secondary active" role="button" aria-pressed="true">Назад к сетевой инфраструктуре</button></a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Тип интерфейса</th>
            <th scope="col">Номер</th>
            <th scope="col">Устройство</th>
            <th scope="col">Пропускная способность</th>
            <th scope="col">Статус</th>
            <th scope="col">Услуга</th>
          </tr>
        </thead>
        <tbody>
            {% for connection in connections %}
                <tr>
                  <td>{{ connection.type.name }}</td>

                  <td><a href="{{ connection.get_absolute_url }}">{{ connection.number }}</a></td>
                  <td><a href="{{ connection.node.get_absolute_url }}">{{ connection.node.ip_address }}</a></td>
                    <td>{{ connection.rate }}</td>
                    <td>{{ connection.status }}</td>
                  <td><a href="{{ connection.service.get_absolute_url }}">{{ connection.service }}</a></td>
                </tr>
            {% endfor %}
            <form action=".">
              <tr class="form-table-search-tr">
                <td>
                  <select name="type" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for type in connection_types %}
                      <option value="{{type.id}}" {% if select_type == type.id %}selected{% endif %}>{{type.name}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td><input name="number" type="number" {% if number %}value="{{number}}"{% endif %} class="form-control form-table-search-input"></input></td>
                <td>
                  {% comment %} <select name="node" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for node in nodes %}
                      <option value="{{node.id}}" {% if select_node == node.id %}selected{% endif %}>{{node.ip_address}}</option>
                    {% endfor %}
                  </select> {% endcomment %}
                <input name="ip_address" {% if ip_address %}value="{{ip_address}}"{% endif %} class="form-control form-table-search-input"></input>
                </td>
                <td><input name="rate" type="number" {% if rate %}value="{{rate}}"{% endif %} class="form-control form-table-search-input"></input></td>
                <td>
                  <select name="object_status" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for object_status in object_statuses %}
                      <option value="{{object_status.id}}" {% if select_object_status == object_status.id %}selected{% endif %}>{{object_status.name}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  {% comment %} <select name="service" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for service in services %}
                      <option value="{{service.id}}" {% if select_service == service.id %}selected{% endif %}>{{service}}</option>
                    {% endfor %}
                  </select> {% endcomment %}
                <input name="service" {% if service %}value="{{service}}"{% endif %} class="form-control form-table-search-input"></input>
                </td>
              </tr>
              <tr {% if filtered %}class="form-table-search-tr"{% endif %}>
                <td colspan="6"><button class="w-100 btn btn-outline-secondary btn-sm" type="submit">Поиск</button></td>
              </tr>
            </form>
             {% if filtered %}
                <tr>
                  <td colspan="6">
                    <a href="."><button class="w-100 btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Очистить</button></a>
                  </td>
                </tr>
              {% endif %}
        </tbody>
      </table>

      {% if connections_pages > 1 %}
          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                  {% if connections.has_previous %}
                      <li class="page-item">
                          <a class="page-link page-number" href="{% url 'connection-list' %}?type={{select_type}}&number={{number}}&ip_address={{ip_address}}&rate={{rate}}&object_status={{select_object_status}}&service={{service}}&page={{connections.previous_page_number}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Предыдущая</span>
                          </a>
                      </li>
                  {% endif %}
                  {% if connections.has_previous %}
                      <li class="page-item"><a class="page-link page-number" href="{% url 'connection-list' %}?type={{select_type}}&number={{number}}&ip_address={{ip_address}}&rate={{rate}}&object_status={{select_object_status}}&service={{service}}&page={{connections.previous_page_number}}">{{connections.previous_page_number}}</a></li>
                  {% endif %}
                  <li class="page-item"><a class="page-link active-page-number page-number" href="{% url 'connection-list' %}?type={{select_type}}&number={{number}}&ip_address={{ip_address}}&rate={{rate}}&object_status={{select_object_status}}&service={{service}}&page={{connections.number}}">{{connections.number}}</a></li>
                  {% if connections.has_next %}
                      <li class="page-item"><a class="page-link page-number" href="{% url 'connection-list' %}?type={{select_type}}&number={{number}}&ip_address={{ip_address}}&rate={{rate}}&object_status={{select_object_status}}&service={{service}}&page={{connections.next_page_number}}">{{connections.next_page_number}}</a></li>
                  {% endif %}
                  {% if connections.has_next %}
                      <li class="page-item">
                          <a class="page-link page-number" href="{% url 'connection-list' %}?type={{select_type}}&number={{number}}&ip_address={{ip_address}}&rate={{rate}}&object_status={{select_object_status}}&service={{service}}&page={{connections.next_page_number}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Следующая</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </nav>
      {% endif %}

      <button type="button" class="w-100 btn btn-secondary mt-5" id="modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить интерфейс
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Добавить интерфейс</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" action=".">
              <div class="modal-body">
                
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% include 'connections/name_service_list.html' %} {# порядок скриптов важен #}
                  {% include 'connections/node_name_list.html' %}
              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% include 'connections/service_name_js.html' %}
      {% include 'connections/node_name_js.html' %}

      {% if form.errors %}
        <script>
          window.onload = function() {
            let t = document.getElementById('modal-btn');
            t.click()
          };
          
        </script>
      {% endif %}
{% endblock %}