{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Интерфейс № {{ object.number }} {{ object.node.ip_address }}</h2>
    <form method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}
      {% if not object.in_use_between_nodes %}
        {% include 'connections/name_service_list.html' %}
      {% endif %}
      {% include 'connections/node_name_list.html' %}
      <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-primary">Обновить</button>
        <a href="{% url 'connection-list'%}" role="button" class="btn btn-secondary">К списку интерфейсов</a>
      </div>
    </form>
    {% include 'connections/service_name_js.html' %}
    {% include 'connections/node_name_js.html' %}
{% endblock %}