{% extends "base.html" %}


{% block content %}
    <div class="row mt-5">
        <div class="col">
            <a href="{% url 'net_infrustructure'%}"><button class="home-btns align-middle btn btn-secondary btn-lg active w-100" role="link">Сетевая инфрастуктура</button></a>
        </div>
        <div class="col">
            <a href="{% url 'services-page'%}"><button class="home-btns align-middle btn btn-secondary btn-lg active w-100" role="link">Сервисы</button></a>
        </div>
    </div>
    <a href="#"><button class="home-btn-otchet btn btn-secondary btn-lg active w-100 mt-5" role="button" aria-pressed="true">Модуль отчетов</button></a>
{% endblock content %}
