{% extends "base.html" %}


{% block content %}
    <div class="row mt-5">
        <div class="col">
            <a href="{% url 'node-list'%}"><button class="home-btns align-middle btn btn-secondary btn-lg active w-100" role="button" aria-pressed="true">Оборудование</button></a>
        </div>
        <div class="col">
            <a href="{% url 'connection-list'%}"><button class="home-btns align-middle btn btn-secondary btn-lg active w-100" role="button" aria-pressed="true">Интерфейсы</button></a>
        </div>
    </div>
{% endblock content %}
