{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% comment %} <form action="." method="get">
  <div class="input-group mb-3">
    <input id="query" type="text" class="form-control" placeholder="Поиск по атрибутам" aria-label="search" aria-describedby="basic-addon2" name="query" {% if query %}value="{{ query }}"{% endif %}>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Поиск</button>
    </div>
  </div>
</form> {% endcomment %}
    <div class="d-flex justify-content-between align-items-center">
      <h2>Услуги</h2>
      <a href="{% url 'services-page' %}"><button class="btn btn-secondary active" role="button" aria-pressed="true">Назад к сервисам</button></a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Тип</th>
            <th scope="col">Абонент</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата редактирования</th>

          </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                  <td><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></td>
                  <td>{{ service.type }}</td>
                  <td><a href="{{ service.abonent.get_absolute_url }}">{{ service.abonent.contract }}</a></td>
                  <td>{{ service.status }}</td>
                  <td>{{ service.created_date }}</td>
                  <td>{{ service.change_date }}</td>
                </tr>
            {% endfor %}
            <form action=".">
              <tr class="form-table-search-tr">
                <td>
                  <select name="service_name" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for service_name in service_names %}
                      <option value="{{service_name.id}}" {% if select_service_name == service_name.id %}selected{% endif %}>{{service_name.name}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select name="type" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for type in service_types %}
                      <option value="{{type.id}}" {% if select_type == type.id %}selected{% endif %}>{{type.name}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select name="abonent" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for abonent in abonent_names %}
                      <option value="{{abonent.id}}" {% if select_abonent == abonent.id %}selected{% endif %}>{{abonent.name}} ({{abonent.contract}})</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select name="object_status" class="form-control form-table-search-input">
                    <option value="">-------------</option>
                    {% for object_status in object_statuses %}
                      <option value="{{object_status.id}}" {% if select_object_status == object_status.id %}selected{% endif %}>{{object_status.name}}</option>
                    {% endfor %}
                  </select>
                </td>
                <td><input type="date" {% if created_date %}value="{{created_date}}"{% endif %} name="created_date" class="form-control form-table-search-input"></input></td>
                <td><input type="date" {% if change_date %}value="{{change_date}}"{% endif %} name="change_date" class="form-control form-table-search-input"></input></td>
              </tr>
              <tr {% if filtered %}class="form-table-search-tr"{% endif %}>
                <td colspan="6"><button class="w-100 btn btn-outline-secondary btn-sm" type="submit">Поиск</button></td>
              </tr>
            </form>
            {% if filtered %}
            <tr>
              <td colspan="6">
                <a href="."><button class="w-100 btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Очистить</button></a>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>


      {% if services_pages > 1 %}
          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                  {% if services.has_previous %}
                      <li class="page-item">
                          <a class="page-link page-number" href="{% url 'service-list' %}?type={{select_type}}&change_date={{change_date}}&created_date={{created_date}}&abonent={{select_abonent}}&service_name={{select_service_name}}&object_status={{select_object_status}}&page={{services.previous_page_number}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Предыдущая</span>
                          </a>
                      </li>
                  {% endif %}
                  {% if services.has_previous %}
                      <li class="page-item"><a class="page-link page-number" href="{% url 'service-list' %}?type={{select_type}}&change_date={{change_date}}&created_date={{created_date}}&abonent={{select_abonent}}&service_name={{select_service_name}}&object_status={{select_object_status}}&page={{services.previous_page_number}}">{{services.previous_page_number}}</a></li>
                  {% endif %}
                  <li class="page-item"><a class="page-link active-page-number page-number" href="{% url 'service-list' %}?type={{select_type}}&change_date={{change_date}}&created_date={{created_date}}&abonent={{select_abonent}}&service_name={{select_service_name}}&object_status={{select_object_status}}&page={{services.number}}">{{services.number}}</a></li>
                  {% if services.has_next %}
                      <li class="page-item"><a class="page-link page-number" href="{% url 'service-list' %}?type={{select_type}}&change_date={{change_date}}&created_date={{created_date}}&abonent={{select_abonent}}&service_name={{select_service_name}}&object_status={{select_object_status}}&page={{services.next_page_number}}">{{services.next_page_number}}</a></li>
                  {% endif %}
                  {% if services.has_next %}
                      <li class="page-item">
                          <a class="page-link page-number" href="{% url 'service-list' %}?type={{select_type}}&change_date={{change_date}}&created_date={{created_date}}&abonent={{select_abonent}}&service_name={{select_service_name}}&object_status={{select_object_status}}&page={{services.next_page_number}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Следующая</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </nav>
      {% endif %}



      <button type="button" class="w-100 btn btn-secondary mt-5" id="modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить услугу
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Добавить услугу</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" action=".">
              <div class="modal-body">
                
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% include 'services/abonent_names_list.html' %}
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% include 'services/service_name_js.html' %}
    {% include 'services/abonent_names_js.html' %}
    {% if form.errors %}
      <script>
        window.onload = function() {
          let t = document.getElementById('modal-btn');
          t.click()
        };
        
      </script>
    {% endif %}
{% endblock %}